:root  {
    box-sizing: border-box;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;  
}

html {
    width: 100vw;
}

body {
    width: 100vw;
}

/*  Header: navbar split topnav-left and topnav-right */  
.topnav {
    position: fixed;
    top:0%;
    width: 100%;
    height: auto;
    background-color: #000000;
    overflow: hidden;
    font-family: 'montserrat';
    display: flex;
    z-index: 9999;
}

.topnav-left {
    flex:1 1 200px;
}

.topnav-right {
    display: flex;
    align-items: center;
    padding-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*  space between globe and EN  */
.fa::before {
    padding-right: 5px;
}

#mainlogo {
    margin-left: 20px;
    margin-top: 8px;
    margin-bottom: -4px;
    width: 100px;
}

/*  text in navbar */
.topnav a{
    color: #ffffff;
    text-align: right;
    padding: 14px 26px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Montserrat';
}
/*  hover effect over navbuttons  */
.topnav-right a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(255, 255, 255);
    border-radius: 60px;
}

/*  login block contains: h1, log in text boxes and submit button  */
.login-block {
    width: 650px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    border-top: 150px ;
    margin: 285px auto;
}

/* Log in text */
.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 23px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'montserrat';
}

/* log in textbars/ username and password */
.login-block input {
    width: 100%;
    background: rgba(19, 17, 17, 0.1);
    display: flex;
    border-radius: 10px;
    border: 0;
    margin-bottom: 20px;
    outline: none;
    padding: 22px 20px;
    font-size: 20px;
    align-items: center;
    font-family: 'montserrat';
}

/*Boarder around username/password*/
.login-block input:active, .login-block input:focus {
    border: 1px solid #d3d3d3;
}

/*Submit button*/
.login-block button {
    width: 106%;
    height: 40px;
    background: rgba(0, 0, 0, 0.9);  
    box-sizing: border-box;
    border-radius: 60px;
    border: 1px solid #b8b8b8;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}
/* hover over submit button */
.login-block button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);   
}


/* Footer: Contains mainlogo, brand-icons and navigation links*/
.buttom-icon-container {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    background-color: #000000;
    padding: 0 15px;
    overflow: hidden;
    font-family: 'montserrat';
    text-align: center;
    bottom: 60px;
    font-size: 20px;
}

.buttom-icon a {
    color: #f2f2f2;
    padding: 14px 10px;
}

.bottomnav {
    height: auto;
    background-color: #000000;
    overflow: hidden;
    font-family: 'montserrat';
    text-align: center;
    bottom: 60px;
    padding: 15px;
    padding-bottom: 30px;
}
.bottomnav a {
    float: flex;
    display: row;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}

  /* hover effect over buttom text */ 
  .bottomnav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(255, 255, 255);
    border-radius: 60px;
}

#bottomlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
  }