:root *, ::before, ::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(248, 248, 248, 0),rgba(15, 12, 111, 0.055)), url(adalmyndineinn.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
}

/*  header:  */  
.topnav {
    position: fixed;
    top:0%;
    width: 100%;
    height: auto;
    background-color: #000000;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    /*align-content: space-between;*/
}

.topnav-left {
    flex:1 1 200px;
}

/*  text in navbar  */
.topnav a{
    color: #ffffff;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}
/*  hover effect over navbuttons  */
/*  mætti alveg sleppa min  */

.topnav a:hover {
    background-color: #ffffff;
    color: black;
    opacity: 20%;
}
#mainlogo {
    width: 100px;
}

.box {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 200px;
    text-align: center;
    align-content: center;
}

.box h1 {
    font-size: 80px;
    text-align: center;
}

.search-bar {
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    border-radius: 60px;
    padding: 10px 20px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pickup {
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    border: 60px;
    padding: 10px 20px;
}

.pickup input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
}